.card {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    height: min-content;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.card > div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--bege);
    color: var(--primary);
    box-shadow: var(--box-shadow);
}

.card span {
    display: flex;
    justify-content: space-between;
}

.card > img {
    width: 100%;
}


@media (max-width: 514px) {
    .card {
        width: 100%;
        max-width: 100%;
    }
}
